[submodule "extension/chrome/js/lib/underscore"]
	path = extension/chrome/js/lib/underscore
	url = git://github.com/documentcloud/underscore.git
[submodule "extension/chrome/js/lib/jquery"]
	path = extension/chrome/js/lib/jquery
	url = git://github.com/joscha/jquery-release.git
[submodule "extension/chrome/js/lib/gmailr"]
	path = extension/chrome/js/lib/gmailr
	url = git@github.com:joscha/gmailr.git
[submodule "extension/chrome/js/lib/store.js"]
	path = extension/chrome/js/lib/store.js
	url = git://github.com/marcuswestin/store.js.git
