// CSS here

.mailbutler {
	> div > * {
		pointer-events: none;
	}
	.asa {
		
		.ase {
			background: url(chrome-extension://__MSG_@@extension_id__/images/tie21x21black.png);
		}
	}

	.loader {
		background: url(chrome-extension://__MSG_@@extension_id__/images/loader.gif);
	}
}