// CSS here

.mailfred {
	> div > * {
		pointer-events: none;
	}
	.asa {
		.ase {
			background: url(chrome-extension://__MSG_@@extension_id__/images/icon.svg);
			background-size: 21px 21px;
		}
	}
}
.mailfred-loader {
	.asa {
		.ase {
			background: url(chrome-extension://__MSG_@@extension_id__/images/loader.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 25px 25px;
		}
	}
}

.mailfred-picker {
	&.J-M {
		overflow: hidden;
	}
}


.mailfred-popup {
	[act='manual'],[act='presets'] {
		span.selected {
			display: none;
		}
		&.J-Ks-KO {
			span.default {
				display: none;
			}
			span.selected {
				display: inline;
			}
		}
	}
}
