// CSS here

.mailfred {
	> div > * {
		pointer-events: none;
	}
	.asa {
		.ase {
			background: url(chrome-extension://__MSG_@@extension_id__/images/tie21x21black.png);
			
		}
	}

}
.mailfred-loader {
	.asa {
		.ase {
			background: url(chrome-extension://__MSG_@@extension_id__/images/loader.gif);
			background-repeat: no-repeat;
			background-position: center;
		}
	}
}


.mailfred-popup {
	[act='manual'],[act='presets'] {
		span.selected {
			display: none;
		}
		&.J-Ks-KO {
			span.default {
				display: none;
			}
			span.selected {
				display: inline;
			}
		}
	}
}